name: Testes Automatizados

# Define quando o robô deve trabalhar (em qualquer push ou pull request para a branch main)
on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  testes:
    name: Correr Pytest
    runs-on: ubuntu-latest

    steps:
      # Passo 1: O robô faz o download do teu código
      - name: Obter o código fonte
        uses: actions/checkout@v4

      # Passo 2: O robô instala a ferramenta 'uv'
      - name: Instalar o uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      # Passo 3: O robô instala o Python 3.11
      - name: Configurar o Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Passo 4: O robô usa o uv para instalar o FastAPI, pytest, etc.
      - name: Instalar dependências do projeto
        run: uv sync

      # Passo 5: O robô corre os testes exatamente como fazes no teu terminal
      - name: Executar os testes
        run: uv run pytest -v